<!DOCTYPE html>

<html> 
    <head> 
      <link rel = "stylesheet" href = "/css/styles.css">
      <link href="https://fonts.googleapis.com/css?family=Barriecito|Bungee+Shade|Monoton|VT323&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="main-content">{{>header}}
        
      {{>error}}
      <p>404 NOT FOUND</p>
      <img src="/imgs/meh.png">  
      </div>
      
      {{>footer}}  
    </body>
</html>